[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ldap3 = "==2.6"
python-slugify = {version = "==3.0.3", extras = ["unidecode"]}
Flask = "==1.1.1"
PyJWT = "==1.7.1"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.9"
